NALR_HOME=.alive
NALR_CONFIG_DIR=config
NALR_SCENARIO=chat
NALR_MODE=interactive
NALR_MODEL_PROVIDER=doubao_ark
NALR_PRIMARY_MODEL=doubao-seed-2-0-pro-260215
NALR_FAST_MODEL=doubao-seed-2-0-pro-260215
ARK_API_KEY=

